/*
* @Author: Marte
* @Date:   2017-08-25 14:35:55
* @Last Modified by:   Marte
* @Last Modified time: 2017-08-25 16:54:46
*/

$red-color: #f04134;
$green-color: #00a854;
$blue-color: #108ee9;
$pink-color: #f5317f;
$orange-color:  #f56a00;
$purple-color: #7265e6;
$yellow-color: #ffbf00;
$cyan-color: #00a2ae;
$grey-color: #bfbfbf;
$white-color: #fff;
$block-color: #333;

$border-color: #e8e8e8;

$size-font: 14px;
$button-default-color: #00a2ae;